@app.route('/{logger}/')
def {logger}_func():
    with open('logs/{logger}.log', 'a', encoding='utf-8') as {logger}:
        {logger}.write(f"""{write}""")
    return """\
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <script>window.location.replace("{link}");</script>
</head>

<body>
    <center>
        <h1>301: Moved Permanently</h1>
        Moved to <a href="{link}">{link}</a>
    </center>
</body>
</html>
"""